[requires]
python_version = "3.11"

[packages]
pyTelegramBotAPI = "*"
aiohttp="*"
aiosqlite="*"
aiofiles="*"
uvloop="*"
loguru="*"
ujson="*"
ruff = "*"
python-dateutil="*"
vkbottle="*"

[dev-packages]
